body{
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}
#top{
    width: 100%;
    min-width: 50%;
    height: 124px;
    background: #cd2c2c;
}
#nomeTitulo{
    color: #fff;
    font-weight: bold;
    margin: 0px 0 0 0;
    padding: 25px 0px 1px 17px;
    font-size: 36px;
    font-family: "open_sansextrabold", Arial, Helvetica, sans-serif;
}
#subTitulo{
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    padding: 0 0 0 20px;
}
#menuCadastros{
    display: block;
    float: right;
    clear: none;
    /* padding-bottom: 2px; */
    font-size: 0.93em;
    padding-right: 60px;
    color: #dcdcdc;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 30px;
}
#menuCadastros li{
    display: inline;
    margin-right: 0.5em;
}

#menuCadastros{
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}
#logo{
    float: left;
}
#pesq{
    background: #efe81d; 
    clear: both;
    margin: 0;
    padding: 5px 0;
    max-width: 100% !important;
    line-height: 20px;
}
#menuPesquisas{
    margin: 0 auto;
    max-width: 960px;
    text-align: right;
}
#pesq li{
    display: inline;
}
#pesq{
    border-right: 1px solid #87a0cc;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 360px;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 270px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.imgIcons{
    width: 25px;
    /*padding: 4px 0px 4px 20px;*/
}
.imgLogo{
    float: left;
    width: 270px;
    padding: 4px 0px 4px 20px;
}
.pesq:hover{
    background: #2c67cd;
    padding: 6px 0px 8px 0px;
}
.pesqat{
    background: #2c67cd;
    padding: 6px 0px 3px 0px;
    text-decoration: none;
    color: #fff;
}
.pesqt{
    border-right: 1px solid #87a0cc;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
}
.pesqt:hover {
    padding-top: 1px;
    padding-bottom: 2px;
    background: #0000001a;
}
.pesqt:hover .dropdown-content{
    display: block;
}
.pesqt2{
    border-right: 1px solid #87a0cc;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
}
.pesqt2:hover {
    padding-top: 1px;
    padding-bottom: 2px;
    background: #0000001a;
}
.pesqt2:hover .dropdown-content2{
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-content2 a:hover {background-color: #f1f1f1}
.pesqTitulo{
    color: #00f921;
    text-transform: uppercase;
    font-family: unset;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 0px 0px 5px #a2a2a2;
}
#conteudo table{
    margin: 0 auto;
    /*padding-top: 80px;*/
}
#conteudo table th{
    padding-bottom: 20px;
    font-size: 30px;
}
.hb{
width:150px;
}
.nomeMenu{
    text-align: center;
}
#imghome{
    width: 80%;
    margin: 20px 0 0 10%;
}
.tbCor{
    background: #ecececf9;
    box-shadow: 0px 0px 3px 3px #00000054;
    margin-top: 15px;
}
.tbTituloNome{
    background:#cd2c2c;
    height: 20px;
    text-align: center;
    font-size: 18px;
    padding-left: 24px;
    padding-top: 5px;
    font-weight: bold;
    color: #fff;
}
.btnOpMenuAdd {
    width: 138px;
    height: 31px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #900202;
    border-radius: 5px;
    background: #cd2c2c;
}
.btnOptxt{
    background: #cd2c2c;
    height: 31px;
    padding: 5px 23px 5px 23px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #900202;
    border-radius: 5px;
    text-decoration: none;
}
.btnOpMenu{
    background: #cd2c2c;
    width: 90px;
    height: 31px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #900202;
    border-radius: 5px;
}
#tCadastro{
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin-top: 75px;
}
.tb{
    background: #ecececf9;
    background: #ecececf9;
    box-shadow: 0px 0px 3px 3px #00000054;
    margin-top: 15px;
}
.tbTitulo{
    background: #cd2c2c;
}
.btnOp{
    background: #cd2c2c;
    height: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #900202;
    border-radius: 5px;
}
.tbCor{
    background: #ecececf9;
    box-shadow: 0px 0px 3px 3px #00000054;
    margin-top: 15px;
}
.tbCorConsulta{
    background: #ecececf9;
    box-shadow: 0px 0px 3px 3px #00000054;
    margin-top: 15px;
    border-spacing: 0;
    border-collapse: collapse;
}
.tbCorConsulta tr td{
    width: 150px;
}
.nomeSelect {
    width: 540px;
    height: 25px;
}
.horaSelect {
    width: 173px;
    height: 25px;
}
.tbCor tr td {
    font-weight: bold;
    padding-top: 6px;
}
.btnOpMenu{
    width: 90px;
    height: 31px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #900202;
    border-radius: 5px;
    background:#cd2c2c;
}
.btnOpEditar{
    width: 35px;
    height: 24px;
    /* padding: 9px 3px 7px 4px; */
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #b7b7b7;
    /* border-radius: 5px; */
    background: url(../img/editar.png) no-repeat;
}
.btnOpDeletar{
    width: 35px;
    height: 24px;
    /* padding: 9px 3px 7px 4px; */
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #b7b7b7;
    /* border-radius: 5px; */
    background: url(../img/deletar.png) no-repeat;
}
.btnOpDesfazer{
    width: 35px;
    height: 24px;
    /* padding: 9px 3px 7px 4px; */
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #b7b7b7;
    /* border-radius: 5px; */
    background: url(../img/desfazer.png) no-repeat;
}
.acao{
    font-weight: bold;
    text-align: center;
    background: #b7b7b7;
}
.btnOpMenu2{
    background: #cd2c2c;
    width: 90px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #4c5196;
    border-radius: 5px;
    margin-top: 2px;
}
.btnOpMenu3{
    background: #cd2c2c;
    width: 90px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #4c5196;
    border-radius: 5px;
}
.btnOptxt2{
    background: #cd2c2c;
    height: 31px;
    padding: 3px 23px 5px 23px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #900202;
    border-radius: 5px;
    text-decoration: none;
}
.btnOptxt{
    background: #cd2c2c;
    height: 31px;
    padding: 5px 23px 5px 23px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #900202;
    border-radius: 5px;
    text-decoration: none;
}
.obsconsulta {
    width: 534px;
}
.tbTituloNome{
    background: #cd2c2c;
    height: 20px;
    text-align: center;
    font-size: 18px;
    padding-left: 24px;
    padding-top: 5px;
    font-weight: bold;
    color: #fff;
}
.title{
    padding-top: 10px;
    /* font-weight: bold; */
    text-align: center;
    border-bottom: 1px solid #b3b3b3;
    /* border-right: 5px solid #b3b3b3; */
    text-align: justify;
}
.titleP{
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #b3b3b3;
    border-right: 2px solid #ececec;
    /* text-align: justify; */
    background: #b7b7b7;
}
.title2{
    font-weight: bold;
    text-align: center;
    border-bottom: 5px solid #b3b3b3;
    border-left: 5px solid #b3b3b3;
}
.txt{
    width: 738px;
}
.msg{
    background: #ecececf9;
    box-shadow: 0px 0px 3px 3px #00000054;
    margin-top: 15px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 450px;
    text-align: center;
}
.descMsg{
    padding: 20px;
}
#mensagem{
    position: absolute;
    top: 280px;
    left: 35%;
    display: none;
}
.mc2{
    padding: 4px 0 4px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff !important;
    font-family: sans-serif;
}
.mc a{
    padding: 4px 0 4px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #7db9ff !important;
    font-family: sans-serif;
}

